@font-face {
  font-family: 'HelveticaNeueCyr';
  src:
    url('../../../../assets/fonts/helveticaneuecyr_roman.otf')
      format('opentype'),
    url('../../assets/fonts/HelveticaNeueCyr-Medium.eot'),
    url('../../assets/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../../assets/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTRamillas';
  src:
    url('../../assets/fonts/TT Ramillas Trial Regular.ttf') format('truetype'),
    url('../../assets/fonts/TT Ramillas Trial Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
